main{
  display: flex;
  justify-content: center;
}

main form {
  background-color: #FFF;
  width: 100%;
  padding: 10px;
  margin: 10px;
  border-radius: 6px;
  max-width: 500px;
}

main form div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

main form div input{
  width: 100%;
  border: 1px solid #CCC;
  border-radius: 4px;
  height: 32px;
}

main form div label{
  margin-bottom: 8px;
  margin-top: 12px;
  width: 100%;
  text-align: left;
}

.user-type{
  flex-direction: row;
  padding: 10px 0;
}

.categories{
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
}

.categories div{
  width: 50%;
  flex-direction: row;
}

.categories div input{
  height: 20px;
}

.file-input{
  margin: 16px 0;
}

.btns{
  display:flex;
  flex-direction: row;
}

.delete-btn{
  background-color: #c05050;
  color: #FFF;
  margin: 10px;
}

.delete-btn:hover{
  cursor: pointer;
}

.submit-btn{
  background-color: var(--Celeste);
  color: #FFF;
  margin: 10px;
}

.submit-btn:hover{
  background-color: #0022aa;
  cursor: pointer;
}

@media (min-width: 769px) {

  main form{
    max-width: 760px;
    padding: 20px 50px;
  }

  main form div{
    flex-direction: row;
  }
}

@media (min-width: 1200px) {

  main form{
    max-width: 1200px;
    padding: 20px 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  main form h2{
    width: 100%;
    margin: 20px 0;
  }
  

  main form div{
    width: 42%;
  }
}