:root{
  --Amarillo: #EAC926;
  --Azul: #03264C;
  --Celeste: #1259c3;
  --Gris-oscuro: #666;
  --Gris-claro: #ebebeb;
  --Verde: #39b54a;
}

*{
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: var(--Gris-claro);
  width: 100%;
}

header{
  background-color: var(--Amarillo);
  display: flex;
  flex-direction: column;
  width: 100%;
}

header .top-left-bar a{
  width: 50%;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
  padding-left: 0;
}

p, a {
  font-size: 12px;
  color: #000;
}

form {
  width: 50%;
  padding-top: 30px;
  padding-right: 8%;
}

label {
  position: relative;
}

section{
  width: 95vw;
  margin: auto;
}

article {
  background-color: white;
}

nav{
  display: none;
}

nav .fas, nav .far{
  margin-left: 3px;
}

.top-left-bar{
  display: flex;
}

#logo{
  width: 100%;
  padding: 30px;
  flex-grow: 1;
}

#search{
  display: block;
  width: 100%;
  border: none;
  border-radius: 4px;
  padding: .4rem;
}

.banner{
  width: 100%;
}

.price-box{
  border-top: 1px solid var(--Gris-claro);
  padding: 15px;
  position: relative;
}

.pay-methods{
  text-align: center;
}

.title {
  font-size: 24px;
  color: var(--Gris-oscuro);
}

.price {
  font-size: 18px;
  display: inline-block;
}

.discount{
  text-align: center;
  color: var(--Verde);
  display: inline-block;
  padding-left: 6px;
}

.discount, .description {
  font-size: 16px;
}

.description{
  font-weight: 100;
  color: var(--Gris-oscuro);
  visibility: hidden;
}

article:hover .description{
  visibility: visible;
}

.fa-truck{
  transition: transform linear 0.3s;
}

article:hover .fa-truck{
  transform: rotate(-90deg);
}

.fa-bars{
  color: var(--Gris-claro);
  background-color: var(--Azul);
  padding: 10px;
  border-radius: 3px;
}

.burger-menu{
  display: flex;
  justify-content: center;
  padding: 20px;
}

main{
  margin: 0 auto;
}

main article{
  margin-bottom: 10px;
}

footer article{
  text-align: center;
  padding: 10px;
}

main section article i{
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid var(--Verde);
  background-color: white;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
  color: var(--Verde);
}

footer i {
  font-size: 2em;
  margin-bottom: 10px;
  color: var(--Celeste);
}

footer h4{
  margin-bottom: 0;
}

footer p{
  margin-top: 0;
  font-weight: 300;
}


footer{
  display: flex;
  background-color: #FFF;
  flex-direction: column;
}

footer p{
  text-align: center;
}

.footer-cards{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-cards article{
  flex-grow: 1;
  box-shadow: none;
  padding: 10px 10px 10px 10px;
  width: 80%;
}

.search-bar{
  text-align: right;
  position: relative;
  height: 31px;
}

.fa-search{
  width: 100%;
  padding-right: 2%;
  text-align: right;
  transform: translateY(-25px);
  color: var(--Gris-oscuro);
}

footer .fas:hover{
  color: var(--Azul);
}

@media (min-width: 361px) {
  main article:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  } 

  form{
    padding-top: 40px;
  }

  section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  article{
    width: 40%;
  }

  .title{
    width: 100%;
  }

}

@media (min-width: 769px) {
  /* .description{
    display: block;
  } */

  .nav-items{
    width: 100%;
    max-width: 1200px;
  }

  article{
    width: 23%;
  }

  form{
    padding-top: 0;
    padding-right: 0;
    max-width: 400px;
  }

  nav{
    display: flex;
    justify-content: space-between;
  }
  nav ul {
    display: flex;
  }

  nav ul li{
    margin: .5rem;
  }

  header{
    align-items: center;
  }

  header a, header p{
    font-size: 0.9rem;
  }

  footer{
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    height: 40vh;
    justify-content: space-between;
  }

  footer p{
    text-align: center;
  }

  .footer-cards{
    display: flex;
    flex-direction: row;
  }

  .footer-cards article{
    flex-grow: 1;
    box-shadow: none;
    padding: 70px 10px 20px 10px;
  }

  .burger-menu{
    display: none;
  }

  .top-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .top-left-bar{
    width: 70%;
    justify-content: space-between;
    align-items: center;
  }

  .pay-methods{
    padding-right: 10px;
  }

  #logo{
    max-width: 400px;
  }
}